{
    "extends": [
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint",
      "plugin:prettier/recommended",
      "plugin:react/recommended"
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      "@typescript-eslint/no-var-requires": 0,
      "prettier/prettier": "error"
    },
    "parserOptions": {
      "sourceType": "module",
      "parser": "babel-eslint",
      "ecmaVersion": 2018
    }
  } 